.zoomout-video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-graphics {
  clip-path: polygon(
    calc(4% + 12rem) 0%,
    100% 0%,
    100% calc(100% - 12rem),
    calc(100% - 12rem) 100%,
    4% 100%,
    4% 12rem
  );
}
