.loader-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px 50px;
}

.loader-container > h1 {
  font-size: 4.2rem;
  color: #0fa0ff;
  position: absolute;
  top: 0;
  text-shadow: 2px 2px 2px #080808, /* Darker shadow */ 4px 4px 2px #0fa0ff20; /* Lighter shadow */
}
