.cardContainer {
  max-width: 470px;
  width: 100%;
  min-width: 240px;
  margin: 10px;
  height: auto;
}

.cardImage {
  width: 100%;
  aspect-ratio: 16/9;
  background: #232323;
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
}

.cardImage > img {
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 20%;
  transition: all 0.25s;
  border-radius: 0.4rem;
}

.cardImage > img:hover {
  transform: rotate(5deg);
  width: 90%;
}

.cardText {
  width: 100%;
  height: auto;
  margin: 10px auto;
}

.cardHead {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 470px;
}

.cardHead > h4 {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0;
}

.cardBtn {
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.cardGreenHeading {
  width: fit-content;
  color: #0fa0ff;
  margin: 15px 0px 15px 0px;
  font-weight: 500;
}

.cardDetail {
  width: 100%;
  height: auto;
  font-size: 1.2em;
  font-weight: 200;
}

@media screen and (max-width: 800px) {
  .cardContainer,
  .cardHead {
    max-width: 380px;
  }
 
  
}

@media screen and (max-width: 610px) {
  .absoluteContainer {
    width: 49%;
    height: auto;
    position: absolute;
    top: 17%;
    left: 28%;
  }
  .cardContainer,
  .cardHead {
    max-width: 280px;
  }
  .cardDetail {
    font-size: 1em;
  }
}
