/* h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  color: #fff;
  font-size: 4em;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(0px at center center);
} */

/* section{
    position: sticky;
    width: calc(0vw + 39px);
    height: calc(0vh + 20px);
    top: 20px;
    left: -2px;
    z-index: 20;
    overflow: hidden;
    contain: layout;
    pointer-events: none;
    margin-top: -1px;
    max-width: 100vw;
    background-color: #fff;
} */
/* .containerScroll {
  position: relative;
  padding: 100px;
  margin-top: 200vh;
  background: #111;
}

.containerScroll h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.innerText {
  position: fixed;
  top: 35%;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1;
  font-size: 10vw;
  color: #000;
  text-align: center;
  width: 100%;
} */

.transitionContainer {
  position: relative;
  z-index: -1;
  margin-top: 45px;
  height: 1200px;
  /* padding: 100px;
  margin-top: 200vh;
  background: #111; */
}

.containerFixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120vh;
  z-index: -1;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 80px; */
}

.overlay {
  position: relative;
  width: 100vw;
  height: 120vh;
  /* top: -15px; */
  padding-top: 90px;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.4s ease-in;

  background-color: #fff;
  /* left: -2px; */
}

.overlay,
.overlay .title > h1,
.overlay .headingText > h3,
.overlay hr,
.overlay .projectheading1 > h2,
.overlay .projectheading1 > h1,
.overlay .projectheading2 > h1,
.overlay .projectHeadingdeatial > p,
.overlay .projectPercendetail > p,
.overlay .dividerText .dividerText1 {
  background-color: #ebecf3;
  color: #111;
  border-color: #111;
}

/* .overlay {
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */
/* .overlay .title > h1 {
  z-index: 999;
  color: #111;
  font-size: 5em;
  text-align: center;
} */

/* .overlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: -2px;
  left: -2px;
  z-index: -1;
  background-color: #cc9292;
  contain: layout;
  pointer-events: none;
  margin-top: 150px;
  max-width: 100%;
  clip-path: circle(100px at center center);
}
.overlayMasked {
  position: sticky;
  width: calc(100vw + 4px);
  height: 124vh;
  top: -2px;
  left: -2px;
  z-index: 10;
  contain: layout;
  pointer-events: none;
  margin-top: -1px;
  max-width: 100%;
}

.text-center {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

.text-center > h1 {
  color: #000 !important;
} */
