.transitionContainer {
  position: relative;
  z-index: -1;
  height: 100%;
  margin-top: 150px;
}

.containerFixed,
.overlay {
  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20%;
}

.containerFixed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #111;
}

.overlay {
  position: relative;
  transition: transform 0.4s ease-in;
  background-color: #fff;
  padding: 50px 20%;
}

.overlay,
.overlay .title > h1,
.overlay .headingText > h3,
.overlay hr,
.overlay .projectheading1 > h2,
.overlay .projectheading1 > h1,
.overlay .projectheading2 > h1,
.overlay .projectHeadingdeatial > p,
.overlay .projectPercendetail > p,
.overlay .dividerText .dividerText1 {
  background-color: #ebecf3;
  color: #111;
  border-color: #111;
}

@media (max-width: 1440px) {
  .transitionContainer {
    margin-top: 15%;
  }
  .containerFixed,
  .overlay {
    padding: 50% 20%;
  }
}

@media (max-width: 1150px) {
  .transitionContainer {
    margin-top: 25%;
  }
}

@media (max-width: 760px) {
  .transitionContainer {
    margin-top: 30%;
  }
  .containerFixed,
  .overlay {
    height: 150vh;
  }
}
@media (max-width: 550px) {
  .transitionContainer {
    margin-top: 50%;
  }
  .containerFixed,
  .overlay {
    height: 220vh;
  }
}

@media (max-width: 330px) {
  .transitionContainer {
    margin-top: 80%;
  }
  .containerFixed,
  .overlay {
    height: 240vh;
  }
}
