.experienceContainer {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 10px auto;
}

.experienceInformation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.avatar {
  opacity: 0.5;
  filter: blur(5px);
}

.detail {
  width: 100%;
  height: auto;
  margin: auto 20px;
  transform: translateX(-70px);
}

.activeEmp > .avatar {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}

.activeEmp > .detail {
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}

.experienceHeading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 2px; */
}

.experienceSection {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

.experienceSection > img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
}

.experienceSection > h4 {
  font-size: 1.39rem;
  margin: 2px auto;
}
.experienceSection > p {
  font-size: 1.2em;
  margin: 2px;
}

.experienceSection > h5 {
  font-size: 1.3rem;
  margin: 2px auto;
  color: #0fa0ff;
}

.experienceDetailSection {
  width: 100%;
  height: auto;
  margin: 5px auto;
}

.experienceDetails {
  width: 95%;
  height: auto;
}
.experienceDetails > p {
  margin: 2px 0px 2px 0;
  font-weight: 200;
  font-size: 1.2em;
}

.experienceStatus {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.experienceDivider {
  width: 100%;
  height: 1px;
  background-color: #454545d2;
  margin: 30px auto;
}

.statusAnimation {
  color: #8d6a00;
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 1s forwards infinite;
}

@keyframes revolveDrop {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  60% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
  }

  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .experienceDetails p {
    font-size: 0.5em;
  }
  .experienceSection > h4 {
    font-size: 1.1em;
  } 
  .experienceSection > h5 {
    font-size: 1em;
  }
}
