.testimonialCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 320px;
  min-width: 250px;
  margin: 20px !important;
  height: auto;
  background-color: #121e27;
  z-index: 5;
}

.testimonialContent {
  width: 100%;
  height: auto;
  padding: 0px 15px 0px 15px;
  text-align: center;
}

.testimoniallogo {
  width: 80px;
  height: 80px;
  margin: 10px auto;
}
.testimoniallogo > img {
  width: 100%;
  height: 100%;
}

.testimonialPersonImg {
  width: 130px;
  height: 130px;
  margin: 10px auto;
}

.testimonialPersonImg > img {
  width: 100%;
  height: 100%;
  /* background-color: #0fa0ff; */
  /* border-radius: 50%; */
}

.testimonialText {
  width: 100%;
  height: auto;
}

.testimonialText > p {
  line-height: 1.2;
}

@media screen and (max-width: 1000px) {
  .testimoniallogo{
    width: 70px;
    height: 70px;
  }
  .testimonialPersonImg {
    width: 100px;
    height: 100px;
  }
  .testimonialContent > p {
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .testimonialContent > p {
    font-size: 10px;
  }
}
