/*Montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  color: #ebecf3;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #111;
}

.container1 {
  width: 100%;
  height: 100vh;
  background-color: #111;
}

.section {
  width: 100%;
  max-width: 1150px;
  height: auto;
  margin: 0 auto 50px auto;
  padding: 96px  96px  0px  96px ;
  z-index: 10;
  position: relative;
}

.section1 {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 20px auto;
  padding: 50px 64px;
  z-index: 10;
  position: relative;
}
.section2 {
  width: 100%;
  height: auto;
  margin: 0 auto 50px auto;
  padding: 96px;
  z-index: 10;
  position: relative;
}

.section3 {
  width: 100%;
  max-width: 1150px;
  height: auto;
  margin: 0 auto 50px auto;
  padding: 96px 0px 96px 0px;
  z-index: 10;
  position: relative;
}

.bannarHeading {
  position: relative;
  width: 700px;
  margin: 4.5rem 0;
  height: auto;
  z-index: 10;
}

.bannarheading1 {
  width: fit-content;
  height: auto;
  margin-right: auto;
  padding: 10px;
}

.bannarH1opacity {
  transform: none;
  opacity: 1;
}

.bannarH1opacity > h1 {
  font-weight: 900;
  font-size: 5.8rem;
  margin: 0;
}

.bannarH1opacity > h3 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.025em;
  font-weight: 400;
}

.color1 {
  color: #0fa0ff;
  font-weight: 700;
}

.bannarH1opacity > p {
  font-size: 1.3rem;
  margin: 0;
}

.btn1 {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  max-width: 160px;
  background-color: #0fa0ff;
  color: #080808;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #0fa0ff;
}

.statusMain {
  width: fit-content;
  height: auto;
  font-size: 1rem;
  background-color: #232323;
  color: #ebecf3;
  padding: 5px 20px;
  border-radius: 999px;
  cursor: text;
  margin: 5px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.dotesStyle {
  height: fit-content;
  position: absolute;
  top: 16%;
  bottom: 12px;
  right: 3.5rem;
  max-width: 75%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  z-index: 0;
}

.dotesGrid {
  height: fit-content;
  padding: 0.8rem;
  cursor: crosshair;
  transition: 0.25s;
  border-radius: 8px;
}

.bannerDotes {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(180deg, #111, #ebecf35e);
}

.dotesGrid:hover {
  background-color: hsla(0, 0%, 100%, 0.15);
}

.bannerDotes:hover {
  background: linear-gradient(180deg, #111, #0fa0ff);
  opacity: 1;
}

.status1Main {
  height: auto;
  margin: 0px auto 24px auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left {
  flex-direction: row-reverse;
}

.status1Text {
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.status1Text > h3 {
  font-size: 4.5rem;
  color: #ebecf3;
  margin: 0;
  letter-spacing: -0.025em;
  line-height: 1.1;
  font-weight: 900;
}

.status1Line {
  flex: 1;
  width: 65%;
  height: 1px;
  background-color: #ebecf3;
  opacity: 0.3;
}

.cardContainer {
  max-width: 470px;
  width: 100%;
  min-width: 240px;
  margin: 10px;
  height: auto;
}

.cardImage {
  width: 100%;
  aspect-ratio: 16/9;
  background: #232323;
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
}

.cardImage > img {
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 20%;
  transition: all 0.25s;
  border-radius: 0.4rem;
}

.cardImage > img:hover {
  transform: rotate(5deg);
  width: 90%;
}

.cardText {
  width: 100%;
  height: auto;
  margin: 10px auto;
}

.cardHead {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 470px;
}

.cardHead > h4 {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0;
}

.cardBtn {
  /* width: 28px;
    height: 28px; */
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.cardGreenHeading {
  width: fit-content;
  color: #0fa0ff;
  margin: 15px 0px 15px 0px;
  font-weight: 500;
}

.cardDetail {
  width: 100%;
  height: auto;
  font-size: 1.2em;
  font-weight: 200;
}

.fontLight {
  font-weight: 200 !important;
}

.screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
}

.sideBarMain {
  position: fixed;
  width: 60px;
  height: 100vh;
  background-color: #080808;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.sideBarTop {
  position: fixed;
  width: 100%;
  height: 93px;
  background-color: #08080850;
  backdrop-filter: blur(20px);
  top: 0;
  z-index: 19;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topLinks {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topName {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topNameStyle {
  text-decoration: none;
  padding: 20px 20px;
  cursor: pointer;
  color: #717171;
  font-weight: 400;
  font-size: 1.3rem;
  transition: 0.1s !important;
  border: none;
}

.topNameStyle:hover,
.active {
  background-color: #1a1a1a;
  border-bottom: 1px solid #0fa0ff;
  color: #c5c5cb;
}

.topNameStyle:hover,
.active {
  background-color: #1a1a1a;
  border-bottom: 1px solid #0fa0ff;
  color: #c5c5cb;
}

.SideBarLogo {
  width: 45px;
  height: 45px;
  background-color: #111;
  font-size: 1.5em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.8rem auto;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #080808;
  overflow: hidden;
}

.sideBarLinks {
  padding: 20px 0;
  cursor: pointer;
  color: #717171;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.3rem;
  transition: 0.1.5s !important;
}

.sideBarLinks:hover,
.activeSidebar {
  background-color: #111;
  border-right: 1px solid #0fa0ff;
  color: #c5c5cb;
}

.NavbarBtn {
  width: 100%;
  max-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.2rem;
}

.margin-r {
  margin-right: 30px;
}

.margin-l {
  margin-left: 60px;
}

.SideBarBtn {
  border: none;
  outline: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  cursor: pointer;
}

.SideBarBtn2 {
  color: #0fa0ff;
  border: 1px solid #0fa0ff;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.4s;
}

.SideBarBtn2:hover {
  background-color: #0fa0ff;
  color: #111;
}
.divider {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.dividerText {
  width: 65%;
  height: auto;
}

.dividerText1 {
  width: 100%;
  height: auto;
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;
  margin: 10px auto 20px auto;
}

.dividerStatus {
  width: 34%;
  height: auto;
}

.dividerStatusContaioner {
  width: 100%;
  height: auto;
  margin: 10px auto 20px auto;
}

.dividerHeadingMain {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  color: #0fa0ff !important;
  align-items: center;
  font-size: 1.3em;
}

.dividerHeadingMain > h1 {
  margin: 0 0px 0px 10px;
  font-size: 1em;
}

.statusContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.mylink {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.font_s {
  font-size: 1.2em;
}

.projectContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sectionA {
  width: 100%;
  max-width: 954px;
  margin: 0 auto;
}

.footerHeading1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerHeading {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #080808;
  align-self: center;
}

.footerHeading > h1 {
  font-size: 6em;
  font-weight: 900;
  margin: 0;
}

.footerHeading > p {
  font-size: 1.5em;
  font-weight: 200;
}

.footerEmail {
  margin-left: 10px;
}
.footerHeading > h3 {
  font-size: 1.5em !important;
  font-weight: 400;
}

.statue2Area {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 10px auto;
}

.status2Heading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.status2Sides {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

.status2Sides > h4 {
  font-size: 1.39rem;
  margin: 2px auto;
}
.status2Sides > p {
  font-size: 1.2em;
  margin: 2px;
}

.status2Sides > h5 {
  font-size: 1.3rem;
  margin: 2px auto;
  color: #0fa0ff;
}

.status2DeatailArea {
  width: 100%;
  height: auto;
  margin: 5px auto;
}

.status2DetailArea {
  width: 95%;
  height: auto;
}
.status2DetailArea > p {
  margin: 2px 0px 2px 0;
  font-weight: 200;
  font-size: 1.2em;
}

.status2balloon {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.Status2LineHolder {
  width: 100%;
  height: 1px;
  background-color: #454545d2;
  margin: 30px auto;
}

.imgScroll {
  position: absolute;
  left: 0;
  padding: 60px 0;
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: #080808;
}

.imgScroll div {
  display: flex;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}

.imgScroll div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

.imgScroll:hover div,
.imgScroll:hover div:nth-child(2):hover {
  animation-play-state: paused;
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.imgScroll div img {
  margin: 0 25px;
  max-width: 200px;
  max-height: 200px;
  border: 10px solid transparent;
  transform: 0.25s;
  filter: grayscale(100%);
  opacity: 0.8;
}

.imgScroll div img:hover {
  border: 5px solid #0fa0ff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}

.imgScroll:hover div img {
  opacity: 0.5;
  filter: blur(5px);
}

.imgScroll div img:hover {
  opacity: 1;
  filter: blur(0px);
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #111;
}

.contact .contect {
  max-width: 880px;
  text-align: center;
}

.contact .contect h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  margin: 0;
}

.contact .contect p {
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.contactContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}

.contactContainer .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contactContainer .contactInfo .Contactbox {
  position: relative;
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}

.contactContainer .contactInfo .Contactbox .icon {
  min-width: 60px;
  height: 60px;
  background: #a1a1a1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75em;
}

.contactContainer .contactInfo .Contactbox:hover .icon {
  background: #0fa0ff;
  color: #fff;
}

.contactContainer .contactInfo .Contactbox .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
}

.contactContainer .contactInfo .Contactbox .text h3 {
  font-weight: 500;
  color: #0fa0ff;
}

.contactContainer .contactInfo .txt {
  color: #fff;
  margin: 50px 0 0 0;
  font-weight: 500;
  padding-left: 10px;
  border-left: 50px solid #0fa0ff;
  line-height: 1em;
}

.sci {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.sci li {
  list-style-type: none;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  transition: 0.1s !important;
}
.sci li:hover {
  color: #0fa0ff;
}
/****** not style apply in anchor tag in contact foam *********/

.contactContainer .contactForm {
  position: relative;
  width: 40%;
  background: #fff;
  min-height: 100px;
  padding: 60px;
}
.contactContainer .contactForm h2 {
  font-size: 2em;
  color: #333;
  font-weight: 500;
}

.contactContainer .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.contactContainer .contactForm .inputBox input,
.contactContainer .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 10px 0;
  border: none;
  color: #333;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactContainer .contactForm .inputBox span {
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1.1em;
  color: #666;
  transition: 0.5s !important;
}

.contactContainer .contactForm .inputBox input:focus ~ span,
.contactContainer .contactForm .inputBox textarea:focus ~ span,
.contactContainer .contactForm .inputBox input:valid ~ span,
.contactContainer .contactForm .inputBox textarea:valid ~ span {
  color: #0fa0ff;
  font-size: 0.9em;
  transform: translateY(-20px);
}

.contactContainer .contactForm .inputBox input[type="submit"] {
  width: 200px;
  background-color: transparent;
  color: #0fa0ff;
  border: 2px solid #0fa0ff;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

.contactContainer .contactForm .inputBox input[type="submit"]:hover {
  background-color: #0fa0ff;
  color: #fff;
}

.text > h3,
.text > p {
  margin: 0;
}
.card1Container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 320px;
  height: 420px;
  margin: 20px;
  background-color: #121e27;
}

.serviceProvider {
  margin: 300px auto 50px auto;
}

/* let make responsive of contact page  */

@media screen and (max-width: 1000px) {
  .dotesGrid {
    padding: 0.7rem;
  }

  .contact {
    padding: 50px;
  }
  .contactContainer {
    flex-direction: column;
  }
  .contactContainer .contactInfo,
  .contactContainer .contactForm {
    width: 100%;
  }

  .contactContainer .contactForm {
    padding: 50px 30px;
  }
  .status1Text > h3 {
    font-size: 3rem;
  }
  .dividerText1 {
    font-size: 0.9rem;
  }

  .footerHeading > h1 {
    font-size: 5em;
  }
}

@media screen and (max-width: 800px) {
  .cardContainer,.cardHead 
    {
    max-width: 380px;
  }
  .section3 {
    padding: 30px 0px 30px 0px;
  }
  .bannarH1opacity > h1 {
    font-size: 3.8em;
  }
  .bannarH1opacity > h3 {
    font-size: 2em;
  }
  .bannarH1opacity > p {
    font-size: 1em;
  }

  .bannarheading1 {
    max-width: 570px;
    width: 100%;
  }
  .bannarHeading {
    width: 100%;
    max-width: 600px;
  }
  .dotesGrid {
    padding: 0.4rem;
  }
  .dotesStyle {
    top: 21%;
    right: 1.5rem;
    grid-template-columns: repeat(16, 1fr);
  }

  .divider {
    flex-wrap: wrap;
  }
  .dividerText {
    width: 100%;
  }
  .dividerStatus {
    width: 100%;
    text-align: center;
  }

  .footerHeading > h1 {
    font-size: 4em;
  }
  .footerHeading > p {
    font-size: 1.3em;
  }

}


@media screen and (max-width: 600px) {
  .cardContainer,.cardHead 
  {
  max-width: 280px;
}
.footerHeading > p {
font-size: 1em;}
.cardDetail{
  font-size:1em ;
}
}