* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  color: #ebecf3;
  scroll-behavior: smooth;
}

body {
  background-color: #111;
}

.container1 {
  width: 100%;
  height: 100vh;
  background-color: #111;
}

.section {
  width: 100%;
  max-width: 1150px;
  height: 650px;
  margin: 0 auto 50px auto;
  padding: 96px;
  z-index: 10;
  position: relative;
}

.section1 {
  width: 100%;
  max-width: 1150px;
  height: auto;
  margin: 100px auto;
  padding: 96px 75px;
  z-index: 10;
  position: relative;
}
.bannarHeading {
  position: relative;
  width: 700px;
  margin: 4.5rem 0;
  height: auto;
  z-index: 10;
}

.bannarheading1 {
  width: fit-content;
  height: auto;
  margin-right: auto;
  padding: 10px;
}

.bannarH1opacity {
  transform: none;
  opacity: 1;
}

.bannarH1opacity > h1 {
  font-weight: 900;
  font-size: 5.8rem;
  line-height: 1.1;
  margin: 0;
}

.bannarH1opacity > h3 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.025em;
  font-weight: 400;
}

.color1 {
  color: #0aff9d;
  font-weight: 700;
}

.bannarH1opacity > p {
  font-size: 1.3rem;
  margin: 0;
}

.btn1 {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  max-width: 160px;
  background-color: #0aff9d;
  color: #080808;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #00db83;
}

.statusMain {
  width: fit-content;
  height: auto;
  font-size: 1rem;
  background-color: #232323;
  color: #ebecf3;
  padding: 5px 20px;
  border-radius: 999px;
  cursor: text;
  margin: 5px;
}

.dotesStyle {
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 3.5rem;
  max-width: 75%;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  z-index: 0;
}

.dotesGrid {
  padding: 0.5rem;
  cursor: crosshair;
  transition: 0.25s;
  border-radius: 8px;
}

.bannerDotes {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(180deg, #111, #ebecf35e);
}

.dotesGrid:hover {
  background-color: hsla(0, 0%, 100%, 0.15);
}

.bannerDotes:hover {
  background: linear-gradient(180deg, #111, #0aff9d);
  opacity: 1;
}

.status1Main {
  height: auto;
  margin: 0px auto 24px auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left {
  flex-direction: row-reverse;
}

.status1Text {
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.status1Text > h3 {
  font-size: 4.5rem;
  color: #ebecf3;
  margin: 0;
  letter-spacing: -0.025em;
  line-height: 1.1;
  font-weight: 900;
}

.status1Line {
  width: 65%;
  height: 1px;
  background-color: #ebecf3;
  opacity: 0.3;
}

.cardContainer {
  max-width: 470px;
  width: 100%;
  min-width: 240px;
  margin: 10px;
  height: auto;
}

.cardImage {
  width: 100%;
  aspect-ratio: 16/9;
  background: #232323;
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
}

.cardImage > img {
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 20%;
  transition: all 0.25s;
  border-radius: 0.4rem;
}

.cardImage > img:hover {
  transform: rotate(5deg);
  width: 90%;
}

.cardText {
  width: 100%;
  height: auto;
  margin: 10px auto;
}

.cardHead {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.cardHead > h4 {
  font-weight: 700;
  font-size: 1.6rem;
  flex-shrink: 0;
  max-width: calc(100% - 150px);
  margin: 0;
}

.cardBtn {
  /* width: 28px;
    height: 28px; */
  background-color: transparent;
  border: none;
  color: #fff;
}

.cardGreenHeading {
  width: fit-content;
  color: #00db83;
  margin: 15px 0px 15px 0px;
  font-weight: 500;
}

.cardDetail {
  width: 100%;
  height: auto;
  font-size: 1.2em;
  font-weight: 200;
}

.fontLight {
  font-weight: 200 !important;
}

.screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
}

.sideBarMain {
  position: fixed;
  width: 60px;
  height: 100vh;
  background-color: #080808;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.sideBarTop {
  position: fixed;
  width: 100%;
  height: 93px;
  background-color: #08080850;
  backdrop-filter: blur(20px);
  top: 0;
  z-index: 19;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SideBarLogo {
  width: 45px;
  height: 45px;
  background-color: #111;
  font-size: 1.5em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 1.8rem auto;
  border-radius: 5px;
  cursor: text;
}

.SideBarLogo > p {
  margin: auto;
}

.sideBarLinks {
  height: 100px;
  cursor: pointer;
  color: #717171;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.3rem;
  transition: 0.1.5s !important;
}

.sideBarLinks:hover,
.active {
  background-color: #111;
  border-right: 1px solid #00db83;
  color: #c5c5cb;
}

.NavbarBtn {
  width: 100%;
  max-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.2rem;
}

.margin-r {
  margin-right: 30px;
}

.margin-l {
  margin-left: 60px;
}

.SideBarBtn {
  border: none;
  outline: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  cursor: pointer;
}

.SideBarBtn2 {
  color: #0aff9d;
  border: 1px solid #0aff9d;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.4s;
}

.SideBarBtn2:hover {
  background-color: #00db83;
  color: #111;
}
.divider {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.dividerText {
  width: 65%;
  height: 100px;
}

.dividerText1 {
  width: 100%;
  height: auto;
  font-size: 1.3em;
  color: #c5c5cb;
  margin: 10px auto 20px auto;
}

.dividerStatus {
  width: 34%;
  height: auto;
}

.dividerStatusContaioner {
  width: 100%;
  height: auto;
  margin: 10px auto 20px auto;
}

.dividerHeadingMain {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  color: #0aff9d !important;
  align-items: center;
  font-size: 1.3em;
}

.dividerHeadingMain > h1 {
  margin: 0 0px 0px 10px;
  font-size: 1em;
}

.statusContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.mylink {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.font_s {
  font-size: 1.2em;
}

.projectContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sectionA{
width: 100%;
max-width: 954px;
margin: 0 auto;

}
.footerHeading {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 10px;
}

.footerHeading > h1 {
  font-size: 6em;
  font-weight: 900;
  margin: 0;
}

.footerHeading>p{
  font-size: 1.5em;
  font-weight: 200;
}

.footerEmail{
  margin-left: 10px;
}
.footerHeading>h3{
  font-size: 1.5em!important;
  font-weight: 400;
}