.bannerContainer {
  position: relative;
  width: 100%;
  margin: 4.5rem 0;
  height: auto;
  z-index: 10;
}

.bannerSection {
  width: fit-content;
  height: auto;
  margin-right: auto;
  padding: 10px;
}

.bannerImageContainer {
  margin: 10.5rem 0 0 10.5rem;
  position: fixed;
}

.bannerImageContainer .slogan {
  font-weight: 900;
  font-size: 2.8rem;
  margin: 0;
  margin-left: 10px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.bannerImage {
  width: 100%;
  max-width: 800px;
}

.bannerText {
  transform: none;
  opacity: 1;
}

.bannerText > h1 {
  font-weight: 900;
  font-size: 5.8rem;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .bannerImageContainer {
    margin: 6.5rem auto 4.5rem 6.5rem;
  }
  .bannerImageContainer .slogan {
    font-size: 2em;
  }

  .bannerText > h1 {
    font-weight: 900;
    font-size: 4rem;
    
  }
}

@media screen and (max-width: 800px) {
  .bannerSection {
    max-width: 570px;
    width: 100%;
  }
  .bannerImageContainer .slogan {
    font-size: 1.5em;
  }
  .bannerImageContainer {
    margin: 6.5rem auto 4.5rem 4.5rem;
  }
}

@media screen and (max-width: 450px) {
  .bannerSection {
    max-width: 570px;
    width: 100%;
  }
  .bannerImageContainer .slogan {
    font-size: 1em;
  }
  .bannerImageContainer {
    margin: 6.5rem auto 4.5rem 0.5rem;
  }
}
