.bannerContainer {
  position: relative;
  width: 700px;
  margin: 4.5rem 0;
  height: auto;
  z-index: 10;
}

.bannerSection {
  width: fit-content;
  height: auto;
  margin-right: auto;
  padding: 10px;
}

.bannerImageContainer {
  margin: 10.5rem auto 4.5rem 10.5rem;
}

.bannerImageContainer .slogan {
  font-weight: 900;
  /* font-size: 5.8rem; */
  margin: 0;
  margin-left: 10px;
}

.bannerImage {
  max-width: 800px;
}

.bannerText {
  transform: none;
  opacity: 1;
}

.bannerText > h1 {
  font-weight: 900;
  font-size: 5.8rem;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .bannerContainer {
    width: 100%;
    max-width: 600px;
  }
  .bannerSection {
    max-width: 570px;
    width: 100%;
  }
  .bannerText > h1 {
    font-size: 3.8em;
  }
  .bannerImageContainer {
    margin: 6.5rem auto 4.5rem 6.5rem;
  }
}
