.iframeContainer {
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in!important;
}

.clip-container {
  transition: all 0.25s ease-in!important;
  transform-origin: 50% 0%;
  transform: translate3d(0px, 0px, 0px) scale(0.7527, 0.7527);
  clip-path: polygon(
    calc(5.9052% + 12rem) 0%,
    94.0948% 0%,
    94.0948% calc(94.0948% - 12rem),
    calc(94.0948% - 12rem) 94.0948%,
    5.9052% 94.0948%,
    5.9052% 12rem
  );
  aspect-ratio: 16/9;
}
