.zoomable-video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.graphics {
  clip-path: polygon(
    calc(4% + 2rem) 0%,
    100% 0%,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    4% 100%,
    4% 2rem
  );
}
